<!DOCTYPE html>
<html lang="en">

{{> head }}

{{> navbar }}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hola {{ capitalizar nombre }}</h1>
            <hr class="my-4">
            <p class="lead">Cualquier texto.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>

{{> footer }}